%h1 Listing teams

%table
  %thead
    %tr
      %th Number
      %th Name
      %th City
      %th State
      %th Country
      %th Website
      %th Facebook
      %th Twitter
      %th Gplus
      %th Instagram
      %th Other names
      %th
      %th
      %th
      
  %tbody
    - @teams.each do |team|
      %tr
        %td= team.id
        %td= team.name
        %td= team.city
        %td= team.state
        %td= team.country
        %td= team.website
        %td= team.facebook
        %td= team.twitter
        %td= team.gplus
        %td= team.instagram
        %td= team.other_names
        %td= link_to 'Show', team
        %td= link_to 'Edit', edit_team_path(team)
        %td= link_to 'Destroy', team, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Team', new_team_path
