= simple_form_for(@user) do |f|
  = f.error_notification

  .form-inputs
    = f.input :provider
    = f.input :uuid
    = f.input :first_name
    = f.input :last_name
    = f.input :name
    = f.input :email
    = f.input :oauth_token
    = f.input :role
    = f.input :email_notifications
    = f.input :oauth_expires_at

  .form-actions
    = f.button :submit
