%p
  %b Season:
  =link_to @event.season.name, @event.season
%p
  %b Name:
  = @event.name
%p
  %b City:
  = @event.city
%p
  %b State:
  = @event.state
%p
  %b Country:
  = @event.country
%p
  %b Start:
  = @event.start_date
%p
  %b End:
  = @event.end_date
%p
  %b Type:
  = @event.event_type

- @event.divisions.each do |division|
  %p
    %b Division Name
    = division.name
    - division.matches.each do |match|
      %p
        %b Match Name
        = match.name
        %br
        = match.r1_team.name
        %br
        = match.r2_team.name
        %br
        = (match.r3_team.nil?)? "none" : match.r3_team.name
        %br
        = match.b1_team.name
        %br
        = match.b2_team.name
        %br
        = (match.b3_team.nil?)? "none" : match.b3_team.name
    %b Teams
    - division.teams.each do |team|
      %p
        %b Team Name
        = team.name
        %b Team Number
        = team.id

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
